<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Paper.js Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Load a stylesheet that creates the proper layout for Paper.js pages -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Paper.js depends on acorn to run.  -->
    <script src="js/acorn.js" type="text/javascript"></script>
    <!-- Paper.js library -->
    <script src="js/paper-full.min.js" type="text/javascript"></script>
    <!-- This is the script we will edit to draw on the page. -->
    <script src="js/my-script.js" canvas="myCanvas" type="text/paperscript"></script>
  </head>
  <body>
    <canvas id="myCanvas" resize></canvas>
  </body>
</html>
